 <div class="main-table">

<div id="container"> 
<div id="grid"> </div>
<div id="palette">
    <div class="properties">
        <form action="/puzzles/" method="POST">
        <input type="text" placeholder="Title" name="name" required>
        <br>
        <input type="text" placeholder="Comment" name="comment">
        <br>
        <input type="number" placeholder="F1 commands"  name="cmd1" min="1" max="10" required>
        <br>
        <input type="number" placeholder="F2 commands"  name="cmd1" min="0" max="10">
        <br>
        <input type="number" placeholder="F3 commands"  name="cmd1" min="0" max="10">
        <br>
        <button type="submit">Submit</button>
        <a href="/puzzles">See puzzles</a>
        </form>
    </div>
    <div class="tools">
        <div class="color1"></div>
        <div class="color2"></div>
        <div class="color3"></div>
        <div class="star"></div>
        <div class="cursor"></div>
        <div class="rotate"></div>
    </div>
</div>
</div>

    </div>
