{{> miniNav}}
 <div class="main-table">

<div id="container"> 
<div id="grid"></div>
<div id="palette">
    <div class="properties">
        <form action="/puzzles/create" method="POST">
        <input type="text" placeholder="Title" name="title" required/>
        <input type="text" placeholder="Description" name="description"/>
        <input type="number" placeholder="F1 commands" name="cmd1" min="1" max="10" required/>
        <input type="number" placeholder="F2 commands" name="cmd2" min="0" max="10"/>
        <input type="number" placeholder="F3 commands" name="cmd3" min="0" max="10"/>
        <input type="hidden" id="colors" name="colors" value=""/> 
        <input type="hidden" id="items" name="items" value=""/> 
        <input type="hidden" id="startRow" name="startRow" value=""/> 
        <input type="hidden" id="startCol" name="startCol" value=""/> 
        <input type="hidden" id="startDir" name="startDir" value=""/> 
        <input class="btn" type="submit" value="Save map"/>
        </form>
    </div>
    <div class="tools">
  <div id="box-color" class="color1"></div>
        <div id="box-color" class="color2"></div>
        <div id="box-color" class="color3"></div>
        <div id="box-icon" class="star"></div>
        <div id="box-icon" class="cursor"></div>
        <div id="box-icon" class="rotate"></div>
    </div>
</div>
</div>
</div>

<script src="/js/create.js"></script>
