Play
{{#with puzzle}}
    {{title}}
{{/with}}
<a href="/puzzles/">See puzzles</a>

<div id="container"> 
<div id="grid"></div>
<div id="palette">
    <div id="instructions"></div>
    <div id="controls"></div>
</div>
</div>

<script src="/js/play.js"></script>
