<title>Play</title>
<a href="/puzzles/">See puzzles</a>


    {{#with puzzle}}
        {{title}}
    {{/with}}
</div>

<div id="container"> 
<div id="grid"></div>
<div id="palette">
    <div id="instructions"></div>
    <div id="controls"></div>
</div>

<script src="/js/play.js"></script>
