<div class="btn-play">
    <h1 class="special" data-text="Algo Play">Algo Play</h1>
    <a href="/puzzles"><img src="../images/play-pink.png" alt=""></a>
    </div>
    <div class="main-btn">
        <a href="/auth/signup">Sign up</a>
        <a href="/auth/login">Log in</a>
    </div>