
<header>
      <div class="action">
        <div class="profile" onclick="menuToggle()">
          <img src="/images/user.png" alt="">
        </div>
        <div class="menu">
          <h3>Léo</h3>
          <ul>
            <li><img src="/images/manager-2.png" alt="icon profile"><a href="/user/profile">Profile</a></li>
            <li><img src="/images/maze.png" alt="icon profile"><a href="/puzzle/all-puzzles">Puzzles</a></li>
            <li><img src="/images/medal.png" alt="icon profile"><a href="/user/profile">Top Players</a></li>
            <li><img src="/images/key.png" alt="icon profile"><a href="/">Logout</a></li>
          </ul>
        </div>
      </div>
    </header>

    <h1>test</h1>